html {
  scroll-behavior: smooth;
}

body {
  padding: 30px;
  background-color: #aa9c9c;
  font-family: Arial, sans-serif;
  color: #fff;
}

#firstPage{
  min-height: 900px;
  color: #0f5f74
}

#secondPage{
  min-height: 900px;
  display: none;
}

#thirdPage{
  min-height: 900px;
  display: none;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  max-width: 90%;
}

input {
  font-size: 1.2em;
  padding: 5px;
  margin-bottom: 10px;
}

button {
  padding: 10px;
  background-color: #0f5f74;
  border: none;
  color: #fff;
}

button:hover {
  box-shadow: 3px 2px 3px #6a7988;
}
